<!DOCYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes"/>
        <title>バルクアップ</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <h1>目的別</h1>
        <h3><span class="keyword">バルクアップ</span></h3>
        <div class="bulk">
            <ul>
                <li>胸鎖乳骨筋</li>
                <li>大胸筋</li>
                <li>前鋸筋</li>
                <li>僧帽筋</li>
                <li>三角筋</li>
                <li>脊柱起立筋</li>
                <li>棘下筋</li>
                <li>広背筋</li>
                <li>上腕二頭筋</li>
                <li>上腕三頭筋</li>
                <li>前腕伸筋群</li>
                <li>前腕屈筋群</li>
                <li>腹直筋</li>
                <li>外腹斜筋</li>
                <li>内転筋群</li>
                <li></li>
                <li>上腕三頭筋</li>
                <li>上腕三頭筋</li>
            </ul>
                <li>背中</li>
                <ul>
                    <li>広背筋・上部</li>
                    <li>広背筋・下部</li>
                    <li>僧帽筋</li>
                    <li>脊柱起立筋</li>
                    <li>大円筋</li>
                    <li>小円筋</li>
                    <li>棘下筋</li>
                    <li>菱形筋</li>
                </ul>
                <li>肩</li>
                <ul>
                    <li>三角前部(フロント)</li>
                    <li>三角中部(サイド)</li>
                    <li>三角後部(リア)</li>
                </ul>
                <li>腕</li>
                <ul>
                    <li>上腕二頭筋・長頭</li>
                    <li>上腕二頭筋・短頭</li>
                    <li>上腕三頭筋・長頭</li>
                    <li>上腕三頭筋・外側頭</li>
                    <li>上腕三頭筋・内側頭</li>
                    <li>前腕</li>
                </ul>
                <li>脚</li>
                <ul>
                    <li>大臀筋</li>
                    <li>大腿四頭筋</li>
                    <li>ハムストリングス</li>
                    <li>下腿三頭筋(腓腹筋・ヒラメ筋)</li>
                </ul>
                <li>腹筋</li>
                <ul>
                    <li>腹直筋</li>
                    <li>外腹斜筋</li>
                    <li>内腹斜筋</li>
                    <li>腹横筋（インナーマッスル</li>
                </ul>
            </ul>
        </div>
    </body>