{% extends "layout.html" %}

{% block style %}
<style>
    .like-google-btn {
        color: white;
    }

    .like-instagram-btn{
        color: white;
    }

    .like-youtube-btn{
        color: white;
    }

    .liked{
        color: red;
    }

    h3 {
        position: relative;
        padding: 1rem .5rem;
}

    h3:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        content: '';
        border-radius: 3px;
        background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
        background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
        background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}
</style>
{% endblock %}

{% block title %}
    Favorite
{% endblock %}

{% block main %}
    <div class="container">
        <h3>Google</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>URL</th>
                    <th>説明文</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for google in googles %}
                <tr>
                    <td>{{ google["title"] }}</td>
                    <td><a href="{{ google['url'] }}">URL</a></td>
                    <td>{{ google["snippet"] }}</td>
                    <td>
                        <div class="post" data-post-id="{{ google['id'] }}">
                            <button class="like-google-btn liked">&hearts;</button>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Instagram</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>mediaID</th>
                    <th>URL</th>
                    <th>説明文</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for instagram in instagrams %}
                <tr></tr>
                    <td>{{ instagram["media_id"] }}</td>
                    <td><a href="{{ instagram['url'] }}">URL</a></td>
                    <td>{{ instagram["caption"] }}</td>
                    <td>
                        <div class="post" data-post-id="{{ instagram['id'] }}">
                            <button class="like-instagram-btn liked">&hearts;</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>YouTube</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>URL</th>
                    <th>チャンネル名</th>
                    <th>チャンネルURL</th>
                    <th>説明文</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for youtube in youtubes %}
                <tr></tr>
                    <td>{{ youtube["videotitle"] }}</td>
                    <td><a href="{{ youtube['videourl'] }}">URL</a></td>
                    <td>{{ youtube["channeltitle"] }}</td>
                    <td><a href="{{ youtube['channelurl'] }}">URL</a></td>
                    <td>{{ youtube["caption"] }}</td>
                    <td>
                        <div class="post" data-post-id="{{ youtube['id'] }}">
                            <button class="like-youtube-btn liked">&hearts;</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        // ハートボタンがクリックされた時の処理(Google)
        $(".like-google-btn").click(function() {
        var postId = $(this).closest(".post").data("post-id");
        $(this).toggleClass("liked");
        if ($(this).hasClass("liked")) {
            $.post("/likegoogle", {post_id: postId});
        } else {
            $.ajax({
            url: "/likegoogle",
            type: "DELETE",
            data: {post_id: postId},
            });
        }
        });

        // ハートボタンがクリックされた時の処理(Instagram)
        $(".like-instagram-btn").click(function() {
        var postId = $(this).closest(".post").data("post-id");
        $(this).toggleClass("liked");
        if ($(this).hasClass("liked")) {
            $.post("/likeinstagram", {post_id: postId});
        } else {
            $.ajax({
            url: "/likeinstagram",
            type: "DELETE",
            data: {post_id: postId},
            });
        }
        });

        // ハートボタンがクリックされた時の処理(YouTube)
        $(".like-youtube-btn").click(function() {
        var postId = $(this).closest(".post").data("post-id");
        $(this).toggleClass("liked");
        if ($(this).hasClass("liked")) {
            $.post("/likeyoutube", {post_id: postId});
        } else {
            $.ajax({
            url: "/likeyoutube",
            type: "DELETE",
            data: {post_id: postId},
            });
        }
        });
    </script>

{% endblock %}