{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <div class="container">

        <div class="section">

            <h2>文字クリックしたらグーグルの検索画面に行くやつ</h2>

            <img src="images/body.jpg" usemap="#ImageMap" width="750" height="512" alt="全身筋肉">
            <map name="ImageMap">
                <area shape="rect" coords="33,24,134,68" href="https://www.google.com/search?q=胸鎖乳突筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="胸鎖乳突筋">
                <area shape="rect" coords="36,77,119,108" href="https://www.google.com/search?q=大胸筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="大胸筋">
                <area shape="rect" coords="13,120,120,155" href="https://www.google.com/search?q=上腕二頭筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="上腕二頭筋">
                <area shape="rect" coords="39,156,107,187" href="https://www.google.com/search?q=前鋸筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="前鋸筋">
                <area shape="rect" coords="20,184,100,220" href="https://www.google.com/search?q=外腹斜筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="外腹斜筋">
                <area shape="rect" coords="12,242,80,275" href="https://www.google.com/search?q=腹直筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="腹直筋">
                <area shape="rect" coords="25,290,108,325" href="https://www.google.com/search?q=内転筋群+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="内転筋群">
                <area shape="rect" coords="29,328,132,362" href="https://www.google.com/search?q=大腿四頭筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="大腿四頭筋">
                <area shape="rect" coords="49,420,142,450" href="https://www.google.com/search?q=前脛骨筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="前脛骨筋">
                <area shape="rect" coords="335,22,410,69" href="https://www.google.com/search?q=僧帽筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="僧帽筋">
                <area shape="rect" coords="343,80,407,117" href="https://www.google.com/search?q=三角筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="三角筋">
                <area shape="rect" coords="337,126,409,167" href="https://www.google.com/search?q=広背筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="広背筋">
                <area shape="rect" coords="321,174,422,206" href="https://www.google.com/search?q=前腕伸筋群+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="前腕伸筋群">
                <area shape="rect" coords="319,289,426,329" href="https://www.google.com/search?q=前腕屈筋群+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="前腕屈筋群">
                <area shape="rect" coords="290,383,455,442" href="https://www.google.com/search?q=下腿三頭筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="下腿三頭筋">
                <area shape="rect" coords="632,74,710,116" href="https://www.google.com/search?q=棘下筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="棘下筋">
                <area shape="rect" coords="627,122,729,158" href="https://www.google.com/search?q=上腕三頭筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="上腕三頭筋">
                <area shape="rect" coords="633,182,734,216" href="https://www.google.com/search?q=脊柱起立筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="脊柱起立筋">
                <area shape="rect" coords="611,288,672,322" href="https://www.google.com/search?q=大臀筋+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="大臀筋">
                <area shape="rect" coords="587,332,740,375" href="https://www.google.com/search?q=ハムストリングス+筋トレ&tbm=vid" target="_blank" rel="noopener noreferrer" alt="ハムストリングス">
            </map>

        </div>
    </div>
{% endblock %}