{% extends "layout.html" %}


{% block title %}
    キーワード・目的別一覧
{% endblock %}

{% block main %}
<div class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <!--ひとつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                >
                    <img src="images/bulkup.jpeg" title="バルクアップ" style="margin: 10px; width: 30%; height: 20%">
                    バルクアップ（全身）
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <!--ここが1つ目のボディです。2つ目3つ目のボディの参考にしてください。-->
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">胸鎖乳骨筋</button>
                            <button type="button" class="btn btn-outline-primary">大胸筋</button>
                            <button type="button" class="btn btn-outline-primary">前鋸筋</button>
                            <button type="button" class="btn btn-outline-primary">僧帽筋</button>
                            <button type="button" class="btn btn-outline-primary">三角筋</button>
                            <button type="button" class="btn btn-outline-primary">脊柱起立筋</button>
                            <button type="button" class="btn btn-outline-primary">棘下筋</button>
                            <button type="button" class="btn btn-outline-primary">広背筋</button>
                            <button type="button" class="btn btn-outline-primary">上腕二頭筋</button>
                            <button type="button" class="btn btn-outline-primary">上腕三頭筋</button>
                            <button type="button" class="btn btn-outline-primary">前腕伸筋群</button>
                            <button type="button" class="btn btn-outline-primary">前腕屈筋群</button>
                            <button type="button" class="btn btn-outline-primary">腹直筋</button>
                            <button type="button" class="btn btn-outline-primary">外腹斜筋
                            <button type="button" class="btn btn-outline-primary">上腕三頭筋</button>
                            <button type="button" class="btn btn-outline-primary">上腕三頭筋</button>
                            <button type="button" class="btn btn-outline-primary">内転筋群</button>
                            <button type="button" class="btn btn-outline-primary">大腿筋</button>
                            <button type="button" class="btn btn-outline-primary">ハムストリングス</button>
                            <button type="button" class="btn btn-outline-primary">前脛骨筋</button>
                            <button type="button" class="btn btn-outline-primary">下腿三頭筋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ふたつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                >
                    <img src="images/diet.jpeg" title="減量" style="margin: 10px; width: 30%; height: 20%">
                    減量（ダイエット）
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">胸鎖乳骨筋</button>
                            <button type="button" class="btn btn-outline-primary">大胸筋</button>
                            <button type="button" class="btn btn-outline-primary">前鋸筋</button>
                            <button type="button" class="btn btn-outline-primary">僧帽筋</button>
                            <button type="button" class="btn btn-outline-primary">三角筋</button>
                            <button type="button" class="btn btn-outline-primary">脊柱起立筋</button>
                            <button type="button" class="btn btn-outline-primary">棘下筋</button>
                            <button type="button" class="btn btn-outline-primary">広背筋</button>
                            <button type="button" class="btn btn-outline-primary">上腕二頭筋</button>
                            <button type="button" class="btn btn-outline-primary">上腕三頭筋</button>
                            <button type="button" class="btn btn-outline-primary">前腕伸筋群</button>
                            <button type="button" class="btn btn-outline-primary">前腕屈筋群</button>
                            <button type="button" class="btn btn-outline-primary">腹直筋</button>
                            <button type="button" class="btn btn-outline-primary">外腹斜筋
                            <button type="button" class="btn btn-outline-primary">上腕三頭筋</button>
                            <button type="button" class="btn btn-outline-primary">上腕三頭筋</button>
                            <button type="button" class="btn btn-outline-primary">内転筋群</button>
                            <button type="button" class="btn btn-outline-primary">大腿筋</button>
                            <button type="button" class="btn btn-outline-primary">ハムストリングス</button>
                            <button type="button" class="btn btn-outline-primary">前脛骨筋</button>
                            <button type="button" class="btn btn-outline-primary">下腿三頭筋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--みっつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                >
                    <img src="images/waist.jpeg" title="ウエスト" style="margin: 10px; width: 30%; height: 20%">
                    ウエスト
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">腹直筋</button>
                            <button type="button" class="btn btn-outline-primary">外腹斜筋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--よっつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour"
                >
                    <img src="../images/hipup.jpeg" title="ヒップアップ" style="margin: 10px; width: 30%; height: 20%">
                    ヒップアップ
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">内転筋群</button>
                            <button type="button" class="btn btn-outline-primary">大腿筋</button>
                            <button type="button" class="btn btn-outline-primary">ハムストリングス</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--いつつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFive"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive"
                >
                    <img src="images/bustup.jpeg" title="バストアップ" style="margin: 10px; width: 30%; height: 20%">
                    バストアップ
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">大胸筋</button>
                            <button type="button" class="btn btn-outline-primary">前鋸筋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--むっつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSix"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSix"
                >
                    <img src="../images/leg.jpeg" title="美脚" style="margin: 10px; width: 30%; height: 20%">
                    美脚
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">内転筋群</button>
                            <button type="button" class="btn btn-outline-primary">大腿筋</button>
                            <button type="button" class="btn btn-outline-primary">ハムストリングス</button>
                            <button type="button" class="btn btn-outline-primary">前脛骨筋</button>
                            <button type="button" class="btn btn-outline-primary">下腿三頭筋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ななつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSeven"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSeven"
                >
                    <img src="../images/posture.jpeg" title="姿勢改善" style="margin: 10px; width: 30%; height: 20%">
                    姿勢（猫背）改善
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="list-group">
                            <button type="button" class="btn btn-outline-primary">胸鎖乳骨筋</button>
                            <button type="button" class="btn btn-outline-primary">僧帽筋</button>
                            <button type="button" class="btn btn-outline-primary">脊柱起立筋</button>
                            <button type="button" class="btn btn-outline-primary">棘下筋</button>
                            <button type="button" class="btn btn-outline-primary">広背筋</button>
                            <button type="button" class="btn btn-outline-primary">腹直筋</button>
                            <button type="button" class="btn btn-outline-primary">外腹斜筋
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--やっつめ-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseEight"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseEight"
                >
                    <img src="images/anti.jpeg" title="アンチエイジング" style="margin: 10px; width: 30%; height: 20%">
                    アンチエイジング
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                    <code>.accordion-body</code>
                    , though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
