<!DOCYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8" name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes" />
        <title>目的別</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>

    <body>
        <div class="header">
            <a href="index.html">TOPに戻る</a>
        </div>

        <div class="main">
            <div class="purpose">
                <h1>目的別</h1>
            </div>
            <div class="item">
                <img src="images/bulkup.jpeg" title="バルクアップ" class="image">
                <P><span class="keyword"><a href="bulkup.html">バルクアップ</a></span></P>
            </div>

            <div class="item">
                <img src="images/diet.jpeg" title="減量" class="image">
                <p><a href="diet.html" class="keyword">減量（ダイエット）</a></p>
            </div>

            <div class="item">
                <img src="images/waist.jpeg" title="ウエスト" class="image">
                <p><span class="keyword"><a href="waist.html">ウエスト</a></span></p>
            </div>

            <div class="item">
                <img src="../images/hipup.jpeg" title="ヒップアップ" class="image">
                <p><span class="keyword"><a href="hipup.html">ヒップアップ</a></span></p>
            </div>

            <div class="item">
                <img src="images/bustup.jpeg" title="バストアップ" class="image">
                <p><span class="keyword"><a href="breastup.html">バストアップ</a></span></p>
            </div>

            <div class="item">
                <img src="../images/leg.jpeg" title="美脚" class="image">
                <p><span class="keyword"><a href="leg">美脚</a></span></p>
            </div>

            <div class="item">
                <img src="../images/posture.jpeg" title="姿勢改善" class="image">
                <p><span class="keyword"><a href="posture.html">姿勢（猫背）改善</a></span></p>
            </div>

            <div class="item">
                <img src="images/anti.jpeg" title="アンチエイジング" class="image">
                <p><span class="keyword"><a href="anti.html">アンチエイジング</a></span></p>
            </div>
        </div>

        <div class="footer">
            <a href="index.html">TOPに戻る</a>
        </div>


    </body>

    </html>